scipy
tensorboard
numba==0.56.4
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
funasr==1.0.27
# pyopenjtalk>=0.3.4
modelscope==1.10.0
sentencepiece
chardet
PyYAML
psutil
rotary_embedding_torch
ToJyutping 
g2pk2
ko_pron
opencc; sys_platform != 'linux'
opencc==1.1.1; sys_platform == 'linux'
python_mecab_ko; sys_platform != 'win32'
fastapi<0.112.2
torchmetrics<=1.5
pydantic<=2.10.6
ctranslate2>=4.0,<5
tokenizers>=0.13,<1
av>=11
